go 1.24

use (
	./apps/api-gateway
	./apps/installer-cli
	./apps/node-agent
	./services/core-platform
	./services/usage-worker
	./services/webhook-worker
	./services/auth-service
	./services/tenant-service
	./services/user-service
	./services/key-service
	./services/subscription-service
	./services/provisioning-service
	./services/node-registry-service
	./services/stats-service
	./services/audit-service
	./services/notification-service
)
